# Path to the trained model artifact once available.
MODEL_PATH=models/car_models_fastapi_bundle_v1.zip
HF_MODEL_REPO=Dmustache/autosnap-car-model
HF_MODEL_REVISION=main
HF_CACHE_DIRECTORY=models/.hf-cache
MAX_UPLOAD_BYTES=10485760
